body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-image: url("admin.gif");
  background-color: black !important;
}

.outer-container {
  background: #000000db;
  width: 100%; /* Use percentage-based width */
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.inner-container {
  background: rgb(30, 30, 30);
  width: 90%; /* Use percentage-based width */
  max-width: 800px; /* Add a max-width to limit the width on large screens */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inner-container:hover {
  box-shadow: 0 0 10px 1px white;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .outer-container {
    width: 100%; /* Adjust width for smaller screens */
  }
  .inner-container {
    width: 90%; /* Adjust width for smaller screens */
  }
}
